
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Hepta+Slab&family=Kaushan+Script&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    padding:0;
    margin:0;
    
}

a {
    text-decoration: none;
    font-family: 'Hepta Slab', serif;
}

h3 , p {
    color:rgb(33, 39, 44);
}
li{
    list-style: none;
    font-family: 'Hepta Slab', serif;

}
.colorNavBar{
    background-color: #E4BCD4 !important;

}

.cartStyle{
    margin: 2em;
    background: antiquewhite;
    border-radius: 20px 0px 20px 0px;
}

img{
    padding: .6em;
    width:200px;
    height:180px;
}

.card{
    background-color: #B5C5D7 ;
}

.logo{
    width:80px;
    height:auto;
    border-radius: 35px 10px;
    font-family: 'Bad Script', cursive;
}